


<div  style="height:50vw">
    <div  style="position:relative" class="typo">
        <div style="position: relative;
       ">
            <p class="marquee">
                <span>TYPOGRAPHY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p class="marquee marquee2">
                <span>TYPOGRAPHY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>  
        </div>
        
        <div style="cursor: pointer;" (click)="ontypo1click()" class=" branding3">
            
            <img  style="    width: 34vw;" src="../../assets/skills/1_1.svg" alt=""/>
        </div>
        <div style="cursor: pointer;" (click)="ontypo2click()" class="branding2">
           
            <img  style="width: 28vw;" src=" ../../assets/skills/2_2.svg" alt=""/>
        </div>
        
        <div style="cursor: pointer;" (click)="ontypo3click()" class="branding1">
            <img  style="width: 28vw;" src="../../assets/skills/Honey_PosterSide_Mockup 2.svg" alt=""/>
        </div>
        <div style="cursor: pointer;"  (click)="ontypo4click()" class="branding4">
            <img  style="width: 32vw;" src="../../assets/skills/Untitled design-49 1.svg" alt=""/>
        </div>
    </div>
    
</div>
