.design-portfolio {
    color: #ffffff;
  //   text-align: left;
  //   font: 400 1.5rem "ClashGrotesk-Regular", sans-serif; /* converted from 24px */
  //   position: absolute;
  
    font-family: 'ClashGrotesk-Regular';
  }
  .honey-gardharia {
      color: #ffffff;
      // text-align: right;
     
      // position: absolute;
   
      font-family: 'ClashGrotesk-Regular';
    
    }
:host{
    body{
        background-color: black;
    }
}
