<!-- <p>contact-me works!</p> -->
<!-- <div style="margin: 3vw 5.5vw 0rem 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
  
     <div (click)="onDesignPortfolio()"  class="design-portfolio" style="cursor: pointer;">
         Design Portfolio
     </div>
     <div class="honey-gardharia" style="cursor: pointer;">
        Honey Gardharia
    </div>
    </div>
    <hr>
</div> -->
<div style="margin: 3vw 5.5vw 0rem 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
   <div style="cursor: pointer;"  class="honey-gardharia" (click)="onDesignPortfolio()" >
    HONEY GARDHARIA
</div>
<div style="display: flex;">
    <div style="cursor: pointer; margin-right: 1vw;" (click)="work()" class="design-portfolio">
        WORK
    </div>
    <div  style="cursor: pointer;"   class="design-portfolio " >ABOUT</div>
</div>
     
    
    </div>
    <hr>
</div>
<!-- <img style="width: 100%;" src="../../assets/bookcover/typography_bookcover.svg" alt=""> -->
<div  >
    <div  style="position:relative" class="typo">
        <div style="position: relative;
       ">
            <p class="marquee">
                <span>DESIGNER ARTIST LEARNER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p class="marquee marquee2">
                <span>DESIGNER ARTIST LEARNER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>  
        </div>

       
        <div  style="cursor: pointer;" class="contact1">
            <a class="" href="../../assets/resume/HoneyGardharia_Resume copy.pdf" title="" target="_blank">

            <p style="margin:0px;color: black;"> 
                Resume
            </p>
            </a>
        </div>
        <!-- <a href="https://www.example.com/" target="_blank">page link</a> -->
        <div style="cursor: pointer;" class="contact2">
            <a href="https://www.linkedin.com/in/honeygardharia/" target="_blank">
            <p style="margin:0px;    color: black;"> 
                LinkedIn
            </p>
        </a>
        </div>
        <div style="cursor: pointer;" class="contact3">
            <a href='mailto:worksbyhoney@gmail.com?subject=Me&body=Hello!'>

            <p style="margin:0px;    color: black;"> 
                Email
            </p>
            </a>
        </div>
        <div style="cursor: pointer;" class="contact4">
            <a href="https://www.instagram.com/hirehoneygardharia/?igshid=MTk0NTkyODZkYg%3D%3D&utm_source=qr" target="_blank">
            <p style="margin:0px;    color: black;"> 
                Instagram
            </p>
        </a>
        </div>

        <!-- <div  class="branding1">
            
            <img style="    width: 80vw;" src="../../assets/contact/Group 18.svg" alt=""/>
        </div> -->
      
            <div  class="branding1">
            
                <img style="width: 45vw;" src="../../assets/contact/bio.png" alt=""/>
            </div>
            <div  class="myphoto">
                
                <img style="width: 32vw;" src="../../assets/contact/myphoto.png" alt=""/>
            </div>
            <div  class="credits">
            
                <img style="    width: 22vw;" src="../../assets/contact/creditsVishal.png" alt=""/>
            </div>
        
       
    </div>
    
</div>