<div style="margin: 3vw 5.5vw 0rem 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
   <div style="cursor: pointer;"  class="honey-gardharia"  (click)="onDesignPortfolio()" >
    HONEY GARDHARIA
</div>
<div style="display: flex;">
    <div style="cursor: pointer; margin-right: 1vw;" (click)="work()" class="design-portfolio">
        WORK
    </div>
    <div  style="cursor: pointer;"  (click)="contactMe()" class="design-portfolio " >ABOUT</div>
</div>
     
    
    </div>
    <hr>
</div>


<div  id="uiux"  #uiux>
    <app-uiux ></app-uiux>
</div>
<div  id="typographySection" #typographySection>
    <app-typography  ></app-typography>

</div>
<div  id="branding" #branding>
    <app-branding  ></app-branding>

</div>




<!-- <div>
    <div style="position: relative;
margin-top: 13vw;">
    <p class="marquee">
        <span>UI/UX DESIGN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="marquee marquee2">
        <span>BUI/UX DESIGN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
  
    <div class="branding1">
        <img  style="width: 27vw;" src="../../assets/skills/bath_and_body.svg" alt="">
    </div>
    <div class="branding2">
        <img  style="width: 28vw;" src="../../assets/skills/Honey_Wegmans_CaseStudy 1.svg" alt="">
    </div>
    
    
</div>

</div> -->



