

<div  style="height:40vw">
    <div  style="position:relative" class="uiux">
        <div style="position: relative;
      ">
            <p class="marquee">
                <span>UI/UX DESIGN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p class="marquee marquee2">
                <span>UI/UX DESIGN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>  
        </div>
        <div style="cursor: pointer;" (click)="onbrand1click()" class="branding1" >
            <img  style="width: 27vw;" src="../../assets/skills/DBSI_Week8.svg" alt=""/>
        </div>
        <div style="cursor: pointer;" (click)="onbrand2click()" class="branding2">
            <img  style="width: 28vw;" src="../../assets/skills/Untitled design-49 3.svg" alt=""/>
        </div>
    </div>
    
</div>
