<!-- <p>book-cover works!</p> -->
<!-- <div style="margin: 3vw 5.5vw 0rem 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
  
     <div style="cursor: pointer;" (click)="onDesignPortfolio()"  class="design-portfolio">
         Design Portfolio
     </div>
     <div  style="cursor: pointer;"(click)="contactMe()" class="honey-gardharia" >
        Honey Gardharia
    </div>
    </div>
    <hr>
</div> -->
<div style="margin: 3vw 5.5vw 0rem 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
   <div style="cursor: pointer;"  class="honey-gardharia" (click)="onDesignPortfolio()" >
    HONEY GARDHARIA
</div>
<div style="display: flex;">
    <div style="cursor: pointer; margin-right: 1vw;" (click)="work()" class="design-portfolio">
        WORK
    </div>
    <div  style="cursor: pointer;"  (click)="contactMe()" class="design-portfolio " >ABOUT</div>
</div>
     
    
    </div>
    <hr>
</div>

<img style="width: 100%;" src="../../assets/bookcover/typography_bookcover.svg" alt="">
<div style="margin: 0vw 5.5vw 5.5vw 5.5vw">
    <div style="display: flex;
    justify-content: space-between;">
    <div style="cursor: pointer;text-decoration-line: underline;"(click)="previouspage()" class="design-portfolio">
        Previous Project
       
    </div>
   <div  style="cursor: pointer;text-decoration-line: underline;" (click)="nextpage()" class="honey-gardharia" >
    <!-- HONEY GARDHARIA -->
    Next Project
</div>
</div>
</div>