
<div style="height:40vw; margin-top: 13vw;">
    <div  style="position:relative" class="bran">
        <div style="position: relative;
       ">
            <p class="marquee">
                <span>BRANDING WORK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p class="marquee marquee2">
                <span>BRANDING WORK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>  
        </div>
        <div  style="cursor: pointer;" (click)="onbrand2click()" class="branding1">
            <img  style="width: 27vw;" src="../../assets/skills/bath_and_body.svg" alt=""/>
        </div>
        <div style="cursor: pointer;" (click)="onbrand1click()" class="branding2">
            <img  style="width: 28vw;" src="../../assets/skills/Honey_Wegmans_CaseStudy 1.svg" alt=""/>
        </div>
    </div>
    
</div>
